BOT_TOKEN=your_bot_token

ADMIN_IDS=admin_users_ids_comma_separated  # Щоб бот надсилав вам результати заповнення
MANAGER_URL=link_to_manager_telegram

DB_PATH=db/leads.xlsx
FILE_PATH=assets/your_catalog_file.pdf
